@font-face {
  font-family: orbitron;
  src: url('../assets/fonts/Orbitron-Bold.ttf');
}

@font-face {
  font-family: metal-mania;
  src: url('../assets/fonts/metalmania.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  color: hsl(220, 50%, 15%);
}

img {
  width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: hsl(240, 50%, 15%);
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  transition: 0.15s;
  text-align: center;
  border: none;
}

#hero,
#team,
#games,
#careers,
#header,
#title,
#articles,
#article,
#main,
footer {
  max-width: 1300px;
  margin-inline: auto;
  padding: 2rem 1rem;
}
@media (min-width: 800px) {
  #hero,
  #team,
  #games,
  #careers,
  #header,
  #articles,
  #article,
  #main,
  footer {
    padding: 4rem 2rem;
  }
}

#team h2,
#games h2,
#careers h2,
#contact h2 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: Orbitron, sans-serif;
  font-weight: 800;
}

h1 {
  font-family: Orbitron, sans-serif;
}

@media (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

#header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  padding-block: 1rem;
  justify-content: space-between;
}
#header #toggle {
  display: none;
}

/* ---- ---- */

.logo {
  font-family: metal-mania, sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
}

nav {
  display: none;
  position: absolute;
  inset: 70px 10px;
  height: 100%;
}

nav ol {
  background-color: hsl(240, 51%, 42%);
  border-radius: 20px;
  padding-block: 2rem;
}

nav li {
  list-style: none;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: hsl(240, 51%, 32%);
  padding: 1rem;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.15s;
}
#home nav li {
  color: hsl(240, 31%, 32%);
}

nav li a:hover {
  background-color: hsl(240, 21%, 94%);
}
#home nav li a:hover {
  background-color: hsl(240, 51%, 32%);
}

#header #toggle:checked + nav {
  display: block;
}
#header .menu-icon {
  font-size: 1.75rem;
}
@media (min-width: 800px) {
  #header {
    padding: 0 2rem;
  }
  #header .menu-icon {
    display: none;
  }
  nav {
    position: revert;
    display: revert;
  }
  nav ol {
    display: flex;
    gap: 0.5rem;
    background-color: revert;
  }
}

/* ---- HERO SECTION ---- */
.hero-wrap {
  background: url('../assets/img/hero-bg.webp') no-repeat center center/cover;
  min-height: 100vh;
  color: hsl(240, 76%, 96%);
  display: grid;
  align-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}

.hero-wrap::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsla(240, 98%, 21%, 0.7);
  min-height: 100vh;
  z-index: -1;
}

#hero .texts {
  max-width: 80ch;
  text-align: center;
  margin-inline: auto;
}

#hero .texts .subtitle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  max-width: 60ch;
  margin-inline: auto;
}

.hero-wrap header {
  position: absolute;
  left: 0;
  right: 0;
}

.hero-wrap header a {
  color: hsl(209, 76%, 96%);
}

#hero h1 {
  font-size: 2rem;
  line-height: 1.2;
}
@media (min-width: 700px) {
  #hero h1 {
    font-size: 4rem;
  }
}

#hero .btn {
  background-color: hsl(240, 31%, 89%);
  color: hsl(240, 31%, 19%);
  font-weight: 600;
  padding: 0.75rem;
  width: 190px;
  margin-inline: auto;
}
#hero .btn:hover {
  background-color: hsl(240, 31%, 79%);
}

/* ----- OUR GAMES ----- */

/* #games .cards {
  display: grid;
  gap: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 800px) {
  #games .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

#games .cards img {
  border-radius: 10px;
}

#games .cards article {
  position: relative;
}

#games .details {
  background-color: hsla(219, 6%, 43%, 0.704);
  color: white;
  border-radius: 10px;
  z-index: 1;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

#games .details > div {
  display: grid;
  gap: 0.5rem;
}

#games .details .btns {
  display: flex;
  gap: 0.5rem;
}

#games .details > img {
  display: none;
  width: 100px;
}
@media (min-width: 450px) {
  #games .details > img {
    display: block;
  }
} */

/* SECTION */
/* Featured SECTION */
 .games-section {
  padding: 70px 5%;
  /* background: #183ed6; */
  text-align: center;
}

 .overlay {
   position: absolute;
  inset: 0;
  z-index: 2; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.2)); 
} 

.section-title {
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: 700;
} 

.card-bg {
  position: relative;
  width: 100%;
  height: 500px; /* fixed card height */
  overflow: hidden;
  border-radius: 20px;
}

/* Blurred background layer */
.blur-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(25px);
  transform: scale(1.1);
  z-index: 0;
}

/* Main sharp image */
.card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* important */
  object-position: center;
  z-index: 1;
}

/* .card-bg {
  aspect-ratio: 4/4;
  background-size: cover;
  background-position: center;
  background-color: #e5e7eb; 
  position: relative;
  width: 100%;
  height: 100%;
} */

/* GRID */
.games-grid {
  display: grid;
  gap: 30px;
  justify-content: center;
}

@media (min-width: 900px) {
  .games-grid {
     grid-template-columns: repeat(2, 400px);
    /* grid-template-columns: repeat(2, 1fr); */
  }
} 

/* CARD */
 /* .game-card {
  background: #e5e7eb; 
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease;
} */
 .game-card {
  background: #e5e7eb;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease;
  width: 100%;
  max-width: 400px;
}

.game-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
} 

/* BACKGROUND IMAGE */
/* .card-bg {
  aspect-ratio: 3/4;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
} */

/* DARK OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.2));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  /* move content to bottom */
  align-items: center;
  padding: 30px 20px;
  text-align: center;
}
/* .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(94, 85, 85, 0.8), rgba(0,0,0,0.2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}  */

/* GAME ICON */
 /* .game-icon {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}  */
  .game-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 12px;
   z-index: -1;
}
.game-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  z-index: -1;
}

/* TITLE */
/* .game-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
} */

/* STORE BUTTONS */
.store-buttons {
  display: flex;
  gap: 15px;
  z-index: -1;
}

.store-btn img {
  width: 130px;
  transition: 0.3s;
  z-index: -1;
}

.store-btn img:hover {
  transform: scale(1.05);
}  

@media (max-width: 600px) {
  .games-grid {
    grid-template-columns: 1fr;
  }

  .card-bg {
    height: 420px;
  }
}
/* MOBILE ADJUST */
 /* @media (max-width: 600px) {
  .card-bg {
    aspect-ratio: 16/9;
  }

  .game-icon {
    width: 70px;
    height: 70px;
  }

  .game-title {
    font-size: 18px;
  }

  .store-btn img {
    width: 110px;
  }
} */
/* ----- OUR TEAM ----- */

#team .subtitle,
#careers .subtitle {
  max-width: 50ch;
  margin-inline: auto;
}

#team h3,
#team p {
  text-align: center;
  max-width: 50ch;
  margin-inline: auto;
}

#team .cards {
  margin-top: 1rem;
  display: grid;
  gap: 2rem;
}
@media (min-width: 450px) {
  #team .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  #team .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

#team .cards > article {
  background-color: hsl(210, 40%, 96%);
  border-radius: 10px;
  padding-bottom: 1.5rem;
  display: grid;
  gap: 0.4rem;
}

#team .cards > article > img {
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
}

#team .cards > article > h3 {
  margin-top: 0.8rem;
}

#team .cards > article > p {
  margin-bottom: 0.3rem;
}

#team .socials {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  gap: 0.75rem;
  justify-content: center;
}

/* ---- Career ---- */
#careers .cards {
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 800px) {
  #careers .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

#careers .cards > a {
  background-color: hsl(210, 40%, 96%);
  border-radius: 10px;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  justify-items: start;
  align-items: center;
}

#careers .apply {
  font-size: 0.95rem;
  border-bottom: 2px solid;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 6px;
  align-items: center;
  gap: 0.25rem;
}
#careers .apply:hover {
  color: hsl(240, 48%, 50%);
}

#careers .cards > a:hover {
  background-color: hsl(210, 40%, 94%);
}

#careers .cards > a:hover span {
  color: hsl(240, 55%, 46%);
  font-weight: 600;
}

#careers .team {
  color: hsl(240, 51%, 32%);
  font-size: 0.8rem;
}

#careers .location {
  display: grid;
  grid-template-columns: 12px 1fr;
  gap: 0.75rem;
  align-items: center;
  color: hsl(240, 19%, 38%);
}

#careers .btn,
#games .btn {
  background-color: hsl(240, 80%, 28%);
  color: hsl(240, 80%, 95%);
  font-weight: 600;
  padding: 0.75rem;
  border-radius: 10px;
  width: 190px;
  text-align: center;
  margin-inline: auto;
  margin-top: 1.75rem;
  transition: 0.15s;
}

#careers .btn:hover,
#games .btn:hover {
  background-color: hsl(240, 89%, 58%);
}

/* ---- FOOTER ---- */
footer {
  max-width: 1300px;
  margin-inline: auto;
  padding: 3rem 2rem;
  margin-top: 8rem;
}

footer .logo {
  font-size: 1.5rem;
}

footer .top {
  display: grid;
  gap: 2rem;
  text-align: center;
  justify-items: center;
}

footer .socials {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  gap: 1rem;
}
footer .socials a {
  opacity: 0.8;
}
footer .socials a:hover {
  opacity: 1;
}

footer .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

footer .links a:hover {
  color: hsl(240, 48%, 50%);
}

footer .text {
  text-align: center;
  margin-top: 1.25rem;
  font-size: 0.9rem;
}

@media (min-width: 800px) {
  footer .top {
    display: flex;
    justify-content: space-between;
  }
  footer .links {
    gap: 2.5rem;
    flex-direction: row;
  }
}
